---
docker_repo_url: "https://download.docker.com/linux/ubuntu"
docker_gpg_url: "https://download.docker.com/linux/ubuntu/gpg"
docker_keyring_path: "/etc/apt/keyrings/docker.asc"
docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-buildx-plugin
  - docker-compose-plugin
docker_user: "{{ ansible_user | default(ansible_user_id) }}"
docker_apt_arch_map:
  x86_64: amd64
  aarch64: arm64
  armv7l: armhf
docker_apt_arch: "{{ docker_apt_arch_map.get(ansible_architecture, 'amd64') }}"
