---
- name: Ajouter la cle GPG Docker
  ansible.builtin.get_url:
    url: "{{ docker_gpg_url }}"
    dest: "{{ docker_keyring_path }}"
    mode: "0644"

- name: Ajouter le depot Docker
  ansible.builtin.apt_repository:
    repo: "deb [arch={{ docker_apt_arch }} signed-by={{ docker_keyring_path }}] {{ docker_repo_url }} {{ ansible_distribution_release }} stable"
    state: present
    filename: docker

- name: Installer Docker et plugins
  ansible.builtin.apt:
    name: "{{ docker_packages }}"
    state: present
    update_cache: true
  notify: restart docker

- name: S'assurer que Docker est demarre
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: S'assurer que le groupe docker existe
  ansible.builtin.group:
    name: docker
    state: present

- name: Ajouter l'utilisateur au groupe docker
  ansible.builtin.user:
    name: "{{ docker_user }}"
    groups: docker
    append: true

- name: Verifier Docker
  ansible.builtin.command: docker --version
  register: docker_version
  changed_when: false

- name: Verifier Docker Compose
  ansible.builtin.command: docker compose version
  register: docker_compose_version
  changed_when: false

- name: Afficher les versions installees
  ansible.builtin.debug:
    msg:
      - "Docker: {{ docker_version.stdout }}"
      - "Docker Compose: {{ docker_compose_version.stdout }}"
